# Ignore all Theory folders
Theory/
**/Theory/

# Ignore Gradle folders and files
.gradle/
**/.gradle/
build.gradle
settings.gradle
*.gradle

# Ignore macOS system files
.DS_Store

# Ignore course configuration files
course-info.yaml
course-remote-info.yaml

# Ignore Gradle wrapper files
gradlew
gradlew.bat
*.bat

# Ignore IntelliJ IDEA settings
.idea/

# Ignore build directories
build/

# Ignore all HTML files
*.html

# Ignore all YAML files
*.yaml

# Ignore Gradle wrapper folder and files
gradle/wrapper/
gradle/wrapper/gradle-wrapper.jar
gradle/wrapper/gradle-wrapper.properties
